<div class="card">
    <div class="card-header card-header-icon">
        <div class="card-icon">
            <img src="https://www.awh.net/Content/Images/WhiteLogo.png" />
        </div>
        <h2 class="card-title">AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="input-group">
                    <select class="custom-select" id="timeZoneId">
                        <option value="" selected>Select for a timezone</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="clockwork.getCurrentTime()">Get the time</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="logs" class="responsive-table mt-3"></div>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            clockwork.initPage();
        });
    </script>
}